src/main/resources/soap/DATEXII_3_Facilities.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:fac="http://datex2.eu/schema/3/facilities" version="3.3" targetNamespace="http://datex2.eu/schema/3/facilities" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:egi="http://datex2.eu/schema/3/energyInfrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/energyInfrastructure" schemaLocation="DATEXII_3_EnergyInfrastructure.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_CredentialTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:CredentialTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_EnergySourceEnum">
    <xs:simpleContent>
      <xs:extension base="fac:EnergySourceEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_FacilityObjectVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:FacilityObject" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeansOfPaymentEnum">
    <xs:simpleContent>
      <xs:extension base="fac:MeansOfPaymentEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursSpecificationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:OperatingHoursSpecification" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:OperatingHoursTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OrganisationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:Organisation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_PaymentBrandsEnum">
    <xs:simpleContent>
      <xs:extension base="fac:PaymentBrandsEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PaymentTimingEnum">
    <xs:simpleContent>
      <xs:extension base="fac:PaymentTimingEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateAvailabilityTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RateAvailabilityTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateLineTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RateLineTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateMatrixVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:RateMatrix" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_RateTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="fac:RateTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_RateTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RateTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateUsageConditionsTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RateUsageConditionsTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RefundTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RefundTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RightTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:RightTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SurchargeTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:SurchargeTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_UserTypeEnum">
    <xs:simpleContent>
      <xs:extension base="fac:UserTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmountInCurrency">
    <xs:sequence>
      <xs:element name="currencyValue" type="fac:AmountOfMoney" minOccurs="1" maxOccurs="1" />
      <xs:element name="currencyType" type="fac:CurrencyCode" minOccurs="1" maxOccurs="1" />
      <xs:element name="_amountInCurrencyExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AmountOfMoney">
    <xs:restriction base="com:Decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BrandsAcceptedCodeList">
    <xs:sequence>
      <xs:element name="brandsAcceptedList" type="fac:_PaymentBrandsEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="_brandsAcceptedCodeListExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BrandsAcceptedText">
    <xs:sequence>
      <xs:element name="brandsAccepted" type="com:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="_brandsAcceptedTextExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClosureInformation">
    <xs:sequence>
      <xs:element name="permananentlyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="temporarilyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="closedFrom" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="temporarilyClosedUntil" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="_closureInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element name="language" type="com:Language" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="telephoneNumber" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="faxNumber" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="eMail" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="_contactInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactPerson">
    <xs:complexContent>
      <xs:extension base="fac:ContactInformation">
        <xs:sequence>
          <xs:element name="name" type="com:String" minOccurs="1" maxOccurs="1" />
          <xs:element name="firstName" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="title" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
          <xs:element name="position" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
          <xs:element name="_contactPersonExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element name="type" type="fac:_CredentialTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="otherType" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="_credentialExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CredentialAssigned">
    <xs:complexContent>
      <xs:extension base="fac:Credential">
        <xs:sequence>
          <xs:element name="localIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="issuer" type="fac:_OrganisationVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="_credentialAssignedExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CredentialTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hangtag" />
      <xs:enumeration value="permit" />
      <xs:enumeration value="licensePlate" />
      <xs:enumeration value="ticket" />
      <xs:enumeration value="eticket" />
      <xs:enumeration value="barcode" />
      <xs:enumeration value="bluetooth" />
      <xs:enumeration value="rfid" />
      <xs:enumeration value="qrCode" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="com:String">
      <xs:pattern value="[A-Z][A-Z][A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Duration">
    <xs:restriction base="xs:duration" />
  </xs:simpleType>
  <xs:complexType name="Eligibility">
    <xs:sequence>
      <xs:element name="eligibilityName" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="qualification" type="fac:Qualification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_eligibilityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnergySourceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all" />
      <xs:enumeration value="battery" />
      <xs:enumeration value="biodiesel" />
      <xs:enumeration value="diesel" />
      <xs:enumeration value="dieselBatteryHybrid" />
      <xs:enumeration value="ethanol" />
      <xs:enumeration value="hydrogen" />
      <xs:enumeration value="liquidGas" />
      <xs:enumeration value="lpg" />
      <xs:enumeration value="methane" />
      <xs:enumeration value="petrol" />
      <xs:enumeration value="petrol95Octane" />
      <xs:enumeration value="petrol98Octane" />
      <xs:enumeration value="petrolBatteryHybrid" />
      <xs:enumeration value="petrolLeaded" />
      <xs:enumeration value="petrolUnleaded" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Facility" abstract="true">
    <xs:complexContent>
      <xs:extension base="fac:FacilityObject">
        <xs:sequence>
          <xs:element name="supplementalFacility" type="fac:SupplementalFacility" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_facilityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FacilityObject" abstract="true">
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="externalIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="operatingHours" type="fac:OperatingHours" minOccurs="0" />
      <xs:element name="locationReference" type="loc:LocationReference" minOccurs="0" />
      <xs:element name="owner" type="fac:Organisation" minOccurs="0" />
      <xs:element name="operator" type="fac:Organisation" minOccurs="0" />
      <xs:element name="rates" type="fac:Rates" minOccurs="0" />
      <xs:element name="_facilityObjectExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="FacilityObjectStatus">
    <xs:sequence>
      <xs:element name="reference" type="fac:_FacilityObjectVersionedReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="newRates" type="fac:Rates" minOccurs="0" />
      <xs:element name="_facilityObjectStatusExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityStatus">
    <xs:complexContent>
      <xs:extension base="fac:FacilityObjectStatus">
        <xs:sequence>
          <xs:element name="_facilityStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FreeOfCharge">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="_freeOfChargeExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeneralRateInformation">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="_generalRateInformationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeansOfPaymentEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="paymentCreditCard" />
      <xs:enumeration value="cashBillsOnly" />
      <xs:enumeration value="cashCoinsOnly" />
      <xs:enumeration value="tollTag" />
      <xs:enumeration value="mobileAccount" />
      <xs:enumeration value="cashCoinsAndBills" />
      <xs:enumeration value="prepay" />
      <xs:enumeration value="paymentDebitCard" />
      <xs:enumeration value="paymentValueCard" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OpenAllHours">
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_openAllHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHours" abstract="true">
    <xs:sequence>
      <xs:element name="closureInformation" type="fac:ClosureInformation" minOccurs="0" />
      <xs:element name="_operatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatingHoursByReference">
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="operatingHoursReference" type="fac:_OperatingHoursSpecificationVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="operatingHoursTableReference" type="fac:_OperatingHoursTableVersionedReference" minOccurs="0" maxOccurs="1" />
          <xs:element name="_operatingHoursByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHoursSpecification">
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="label" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="operatingAllYear" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="urlLinkAddress" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="overallPeriod" type="com:OverallPeriod" />
          <xs:element name="_operatingHoursSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organisation" abstract="true">
    <xs:sequence>
      <xs:element name="_organisationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationSpecification">
    <xs:complexContent>
      <xs:extension base="fac:Organisation">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="name" type="com:MultilingualString" minOccurs="1" maxOccurs="1" />
          <xs:element name="externalCode" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="legalName" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
          <xs:element name="linkToGeneralInformation" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="nationalOrganisationNumber" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="nationalRegister" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="vatIdentificationNumber" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="organisationUnit" type="fac:OrganisationUnit" maxOccurs="unbounded" />
          <xs:element name="subOrganisation" type="fac:Organisation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_organisationSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationUnit">
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="function" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="locationReference" type="loc:LocationReference" minOccurs="0" />
      <xs:element name="contactInformation" type="fac:ContactInformation" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="operatingHours" type="fac:OperatingHours" minOccurs="0" />
      <xs:element name="_organisationUnitExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentBrandsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="americanExpress" />
      <xs:enumeration value="applePay" />
      <xs:enumeration value="cirrus" />
      <xs:enumeration value="dinersClub" />
      <xs:enumeration value="discoverCard" />
      <xs:enumeration value="giroCard" />
      <xs:enumeration value="maestro" />
      <xs:enumeration value="masterCard" />
      <xs:enumeration value="visa" />
      <xs:enumeration value="vpay" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentMethod">
    <xs:sequence>
      <xs:element name="paymentMeans" type="fac:_MeansOfPaymentEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="paymentMode" type="fac:_PaymentTimingEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="brandsAcceptedText" type="fac:BrandsAcceptedText" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="brandsAcceptedCodeList" type="fac:BrandsAcceptedCodeList" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_paymentMethodExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentTimingEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="prepay" />
      <xs:enumeration value="payOnEntry" />
      <xs:enumeration value="payPriorToExit" />
      <xs:enumeration value="payAfterExit" />
      <xs:enumeration value="payAndExit" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Qualification">
    <xs:sequence>
      <xs:element name="withReservation" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="propulsionEnergyType" type="fac:_EnergySourceEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="noFeeToUse" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="withMembership" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="membershipName" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="memberOfOtherRateTable" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="rateTableMember" type="fac:_RateTableVersionedReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="activeAssignedRight" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="paymentMethod" type="fac:PaymentMethod" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vehicleCharacteristics" type="com:VehicleCharacteristics" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="userQualification" type="fac:UserQualification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_qualificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RateAvailabilityTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="private" />
      <xs:enumeration value="public" />
      <xs:enumeration value="restricted" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RateDiscount">
    <xs:sequence>
      <xs:element name="discountRate" type="com:Percentage" minOccurs="0" maxOccurs="1" />
      <xs:element name="fixedValue" type="fac:AmountInCurrency" minOccurs="0" />
      <xs:element name="_rateDiscountExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateEligibility">
    <xs:sequence>
      <xs:element name="priority" type="com:Integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="combinable" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="rateDiscount" type="fac:RateDiscount" minOccurs="0" />
      <xs:element name="eligibility" type="fac:Eligibility" />
      <xs:element name="rightSpecification" type="fac:RightSpecification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_rateEligibilityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateLine">
    <xs:sequence>
      <xs:element name="rateLineType" type="fac:_RateLineTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="durationStart" type="com:Time" minOccurs="0" maxOccurs="1" />
      <xs:element name="durationEnd" type="com:Time" minOccurs="0" maxOccurs="1" />
      <xs:element name="incrementPeriod" type="fac:Duration" minOccurs="0" maxOccurs="1" />
      <xs:element name="value" type="fac:AmountOfMoney" minOccurs="1" maxOccurs="1" />
      <xs:element name="minValue" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="maxValue" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="usageCondition" type="fac:_RateUsageConditionsTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="surcharge" type="fac:Surcharge" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="rateLineTax" type="fac:RateLineTax" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_rateLineExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="sequence" type="com:Integer" use="required" />
  </xs:complexType>
  <xs:complexType name="RateLineCollection">
    <xs:sequence>
      <xs:element name="applicableCurrency" type="fac:CurrencyCode" minOccurs="0" maxOccurs="1" />
      <xs:element name="minValueCollection" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="maxValueCollection" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="validStart" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="validEnd" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="minTime" type="fac:Duration" minOccurs="0" maxOccurs="1" />
      <xs:element name="maxTime" type="fac:Duration" minOccurs="0" maxOccurs="1" />
      <xs:element name="resetTime" type="com:Time" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxIncluded" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxRate" type="com:Percentage" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxValue" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="relativeTimes" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="rateLine" type="fac:RateLine" maxOccurs="unbounded" />
      <xs:element name="_rateLineCollectionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="collectionSequence" type="com:Integer" use="required" />
  </xs:complexType>
  <xs:complexType name="RateLineTax">
    <xs:sequence>
      <xs:element name="taxValue" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxRate" type="com:Percentage" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxIncluded" type="com:Boolean" minOccurs="1" maxOccurs="1" />
      <xs:element name="trigger" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="labelForDisplay" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="_rateLineTaxExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RateLineTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="flatRate" />
      <xs:enumeration value="incrementingRate" />
      <xs:enumeration value="flatRateTier" />
      <xs:enumeration value="perUnit" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Rates" abstract="true">
    <xs:sequence>
      <xs:element name="applicableCurrency" type="fac:CurrencyCode" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="paymentMethod" type="fac:PaymentMethod" minOccurs="0" />
      <xs:element name="overallPeriod" type="com:OverallPeriod" minOccurs="0" />
      <xs:element name="energyPricingPolicy" type="egi:EnergyPricingPolicy" minOccurs="0" />
      <xs:element name="_ratesExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatesByReference">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="rateTableReference" type="fac:_RateTableVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="rateMatrixReference" type="fac:_RateMatrixVersionedReference" minOccurs="0" maxOccurs="1" />
          <xs:element name="_ratesByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RateTable">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="rateTableName" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
          <xs:element name="activeTimes" type="fac:Duration" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="availability" type="fac:_RateAvailabilityTypeEnum" minOccurs="0" maxOccurs="1" />
          <xs:element name="rateResponsibleParty" type="fac:_OrganisationVersionedReference" minOccurs="0" maxOccurs="1" />
          <xs:element name="rateSupersedeLink" type="fac:_RateTableVersionedReference" minOccurs="0" maxOccurs="1" />
          <xs:element name="validation" type="com:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="rateType" type="fac:_RateTypeEnum" minOccurs="0" maxOccurs="1" />
          <xs:element name="validityStart" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="validityEnd" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="additionalInformation" type="com:Url" minOccurs="0" maxOccurs="1" />
          <xs:element name="rateLineCollection" type="fac:RateLineCollection" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="rateEligibility" type="fac:RateEligibility" minOccurs="0" />
          <xs:element name="_rateTableExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RateTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="contract" />
      <xs:enumeration value="daily" />
      <xs:enumeration value="event" />
      <xs:enumeration value="hourly" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RateUsageConditionsTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fixedDuration" />
      <xs:enumeration value="fixedNumber" />
      <xs:enumeration value="once" />
      <xs:enumeration value="unlimited" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefundTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="surchargeNonRefundable" />
      <xs:enumeration value="surchargePartiallyRefundable" />
      <xs:enumeration value="surchargeFullyRefundable" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RelativeTimeRates">
    <xs:complexContent>
      <xs:extension base="fac:RateLineCollection">
        <xs:sequence>
          <xs:element name="referenceTimeStart" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="referenceTimeEnd" type="com:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="_relativeTimeRatesExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RightSpecification">
    <xs:sequence>
      <xs:element name="type" type="fac:_RightTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="expiry" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="financialReference" type="com:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="issuer" type="fac:_OrganisationVersionedReference" minOccurs="0" maxOccurs="1" />
      <xs:element name="noFeeToUse" type="com:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="credential" type="fac:Credential" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="validity" type="com:Validity" minOccurs="0" />
      <xs:element name="_rightSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RightTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="oneTimeUseParking" />
      <xs:enumeration value="permitParking" />
      <xs:enumeration value="loadingUnloading" />
      <xs:enumeration value="setdownPickup" />
      <xs:enumeration value="waiting" />
      <xs:enumeration value="accessPermission" />
      <xs:enumeration value="doingReservation" />
      <xs:enumeration value="electricCharging" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementalFacility" abstract="true">
    <xs:complexContent>
      <xs:extension base="fac:FacilityObject">
        <xs:sequence>
          <xs:element name="_supplementalFacilityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Surcharge">
    <xs:sequence>
      <xs:element name="surchargeType" type="fac:_SurchargeTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="value" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1" />
      <xs:element name="rate" type="com:Percentage" minOccurs="0" maxOccurs="1" />
      <xs:element name="trigger" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="refund" type="fac:_RefundTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="labelForDisplay" type="com:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="_surchargeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SurchargeTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="reservation" />
      <xs:enumeration value="mobilePayment" />
      <xs:enumeration value="deposit" />
      <xs:enumeration value="membershipFee" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeZone">
    <xs:restriction base="com:String">
      <xs:pattern value="[-+][0-9][0-9]:[0-9][0-9]|Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UndefinedOperatingHours">
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_undefinedOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnknownOperatingHours">
    <xs:complexContent>
      <xs:extension base="fac:OperatingHours">
        <xs:sequence>
          <xs:element name="_unknownOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnknownRates">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="_unknownRatesExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnspecifiedRates">
    <xs:complexContent>
      <xs:extension base="fac:Rates">
        <xs:sequence>
          <xs:element name="_unspecifiedRatesExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserQualification">
    <xs:sequence>
      <xs:element name="userGroup" type="fac:_UserTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="_userQualificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UserTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allUsers" />
      <xs:enumeration value="commuters" />
      <xs:enumeration value="customers" />
      <xs:enumeration value="elderlyUsers" />
      <xs:enumeration value="employees" />
      <xs:enumeration value="families" />
      <xs:enumeration value="personsWithDisabilities" />
      <xs:enumeration value="hearingImpaired" />
      <xs:enumeration value="hotelGuests" />
      <xs:enumeration value="longTermParkers" />
      <xs:enumeration value="members" />
      <xs:enumeration value="men" />
      <xs:enumeration value="overnightParkers" />
      <xs:enumeration value="parkAndCycleUser" />
      <xs:enumeration value="parkAndRideUsers" />
      <xs:enumeration value="parkAndWalkUser" />
      <xs:enumeration value="pensioners" />
      <xs:enumeration value="pregnantWomen" />
      <xs:enumeration value="registeredDisabledUsers" />
      <xs:enumeration value="reservationHolders" />
      <xs:enumeration value="residents" />
      <xs:enumeration value="seasonTicketHolders" />
      <xs:enumeration value="shoppers" />
      <xs:enumeration value="shortTermParkers" />
      <xs:enumeration value="sportEventAwaySupporters" />
      <xs:enumeration value="sportEventHomeSupporters" />
      <xs:enumeration value="students" />
      <xs:enumeration value="staff" />
      <xs:enumeration value="subscribers" />
      <xs:enumeration value="visitors" />
      <xs:enumeration value="visuallyImpaired" />
      <xs:enumeration value="wheelchairUsers" />
      <xs:enumeration value="women" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>